<div class="toolbar">
  <div class="toolbar_form">
    <mat-form-field class="toolbar_form_input">
      <mat-label>Search employees by full name or email...</mat-label>
      <input matInput placeholder="Ex. John Doe" />
    </mat-form-field>
  </div>

  <div class="toolbar_employees">
    <button matFab [matMenuTriggerFor]="menu">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Name (asc/desc)</span>
      </button>
      <button mat-menu-item>
        <span>Start Date</span>
      </button>
      <button mat-menu-item>
        <span>Number of skills</span>
      </button>
    </mat-menu>

    <button matFab extended (click)="openDialog()">
      <mat-icon>add_2</mat-icon> Add Employee
    </button>
  </div>
</div>
