<div class="toolbar">
  <div class="toolbar_form">
    <mat-form-field class="toolbar_form_input">
      <mat-label>Search employees by full name or email...</mat-label>
      <input matInput placeholder="Ex. John Doe" />
    </mat-form-field>
  </div>

  <div class="toolbar_employees">
    <button matFab [matMenuTriggerFor]="filterMenu">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item>
        <span class="toolbar_sortBy">
          Name:
          <div class="toolbar_sortBy_order">
            <mat-icon (click)="sortBy('name', 'asc'); $event.stopPropagation()">
              arrow_upward
            </mat-icon>
            <mat-icon
              (click)="sortBy('name', 'desc'); $event.stopPropagation()"
            >
              arrow_downward
            </mat-icon>
          </div>
        </span>
      </button>
      <button mat-menu-item>
        <span class="toolbar_sortBy"
          >Start Date
          <div class="toolbar_sortBy_order">
            <mat-icon (click)="sortBy('date', 'asc'); $event.stopPropagation()">
              arrow_upward
            </mat-icon>
            <mat-icon
              (click)="sortBy('date', 'desc'); $event.stopPropagation()"
            >
              arrow_downward
            </mat-icon>
          </div>
        </span>
      </button>
      <button mat-menu-item>
        <span class="toolbar_sortBy"
          >Number of skills
          <div class="toolbar_sortBy_order">
            <mat-icon
              (click)="sortBy('skills', 'asc'); $event.stopPropagation()"
            >
              arrow_upward
            </mat-icon>
            <mat-icon
              (click)="sortBy('skills', 'desc'); $event.stopPropagation()"
            >
              arrow_downward
            </mat-icon>
          </div>
        </span>
      </button>
    </mat-menu>

    <button
      matIconButton
      [matMenuTriggerFor]="customMenu"
      [matMenuTriggerData]="{ disableClose: true }"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #customMenu="matMenu" class="toolbar_toggle">
      <button mat-menu-item>
        <mat-slide-toggle
          class="toolbar_employees_toggle"
          (change)="customInfoCheck($event)"
          [checked]="customInfo()"
          (click)="$event.stopPropagation()"
        >
          Custom Info
        </mat-slide-toggle>
      </button>
      <button mat-menu-item>
        <mat-slide-toggle
          class="toolbar_employees_toggle"
          (change)="showSkillsCheck($event)"
          [checked]="showSkills()"
          (click)="$event.stopPropagation()"
        >
          Show Skills
        </mat-slide-toggle>
      </button>
      <button mat-menu-item>
        <mat-slide-toggle
          class="toolbar_employees_toggle"
          (change)="customActionsCheck($event)"
          [checked]="customActions()"
          (click)="$event.stopPropagation()"
        >
          Custom Actions
        </mat-slide-toggle>
      </button>
    </mat-menu>

    <button matFab extended (click)="openDialog()">
      <mat-icon>add_2</mat-icon> Add Employee
    </button>
  </div>
</div>
