@use "mixins" as *;
@use "variables" as vars;
@use "sass:map";
.form {
  &_container {
    @include flex(column, flex-start);
    gap: 10px;
  }

  &_title {
    text-align: center;
  }
  &_input {
    width: 100%;
  }

  &_skills {
    @include flex(column, space-around);
    width: 100%;
    gap: 15px;
    padding: 15px 0;
    &_info {
      @include flex(row, space-around);
      width: 100%;
      box-shadow: vars.$basic_shadow;
      margin-bottom: 20px;
      border-radius: 15px;
      padding-top: 15px;
    }
    &_inputs {
      @include flex(column, space-around);
    }

    &_input {
      width: 100%;
    }
  }
}

@include md {
  .form {
    &_skills {
      &_info {
        padding: 20px 15px;
        align-items: center;
      }

      &_inputs {
        @include flex(row, space-around);
      }

      &_input {
        width: 40%;
      }
    }
  }
}
